src/flows/SurveyFlow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignSurveySubject</name>
        <label>AssignSurveySubject</label>
        <locationX>653</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyInvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_surveyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSurvey_Subject</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_surveyName</name>
        <dataType>String</dataType>
        <expression>&apos;Survey For Cases----&gt;&apos;+{!caseNumber}</expression>
    </formulas>
    <interviewLabel>SurveyFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>849</locationX>
        <locationY>246</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>TEST FLOW ACCOUNT</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSurvey_Subject</name>
        <label>CreateSurvey Subject</label>
        <locationX>809</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SurveyInvitation</name>
        <label>SurveyInvitation</label>
        <locationX>400</locationX>
        <locationY>267</locationY>
        <assignRecordIdToReference>surveyInvitationId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignSurveySubject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId__NotFound</field>
            <value>
                <elementReference>communityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_surveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId__NotFound</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordLookups>
        <name>lookupCase</name>
        <label>lookupCase</label>
        <locationX>79</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupCommunity</name>
        <label>LookupCommunity</label>
        <locationX>408</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupSurvey</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MysFirstSurvey</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>communityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupContact</name>
        <label>LookupContact</label>
        <locationX>231</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupCommunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupSurvey</name>
        <label>LookupSurvey</label>
        <locationX>579</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyInvitation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey Demo</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>lookupCase</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>communityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
